.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &Detail {
    width: 80%;
    margin: 30px auto;
  }
  &Img {
    width: 100%;
    overflow: hidden;
  }

  &Title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &Element {
    display: flex;
    gap: 5px;
    align-items: center;

    h3 {
      font-weight: 600;
    }

    > * {
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
}
